<div class="blueBackground">
  <div id="log" class="container" style="padding-top: 150px">
    <div class="success">
      <h2>
        削除が完了しました
      </h2>
      <a class="btn" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
</div>