<div  class = "diary">
    <h3>
        日記を書く
    </h3>
</div>

<div class="contents">
    <%= form_tag('/diaries', method: :post) do %>

      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>