
<div class="newContent blueBackground">
  <div id="log" class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag @petimg, class: "userAvatarimage"%>
          <hr class="star-light">
          <div class="contentTitle"><span class=""><%= current_user.petname %>の成長を記録しよう</span></div>
          <%= form_tag('/diaries', method: :post) do %>
          <div class ="urlSpace"><input placeholder="Image Url" type="text" name="image"><br></div>
          <textarea cols="30" name="text" placeholder="text" rows="10" cols= "100"></textarea><br>
          <div style="">
          <div class="row">

          <p>猫ちゃんの種類を選んでくださいね</p>
          <div class="select_join">
            <select name = "cattype">
              <option value="アビシニアン">アビシニアン</option>
              <option value="アメリカンカール">アメリカンカール</option>
              <option value="アメリカンショートヘア">アメリカンショートヘア</option>
              <option value="アメリカンボブテイル">アメリカンボブテイル</option>
              <option value="アメリカンワイヤーヘア">アメリカンワイヤーヘア</option>
              <option value="エキゾチック">エキゾチック</option>
              <option value="エジプシャンマウ">エジプシャンマウ</option>
              <option value="オシキャット">オシキャット</option>
              <option value="オリエンタル">オリエンタル</option>
              <option value="キムリック">キムリック</option>
              <option value="コーニッシュレックス">コーニッシュレックス</option>
              <option value="コラット">コラット</option>
              <option value="サイアミーズ（シャム）">サイアミーズ（シャム）</option>
              <option value="サイベリアン">サイベリアン</option>
              <option value="ジャパニーズボブテイル">ジャパニーズボブテイル</option>
              <option value="シャルトリュー">シャルトリュー</option>
              <option value="シンガプーラ">シンガプーラ</option>
              <option value="スコティッシュフォールド">スコティッシュフォールド</option>
              <option value="スフィンクス">スフィンクス</option>
              <option value="セルカークレックス">セルカークレックス</option>
              <option value="ソマリ">ソマリ</option>
              <option value="ターキッシュアンゴラ">ターキッシュアンゴラ</option>
              <option value="ターキッシュバン">ターキッシュバン</option>
              <option value="チンチラ">チンチラ</option>
              <option value="デボンレックス">デボンレックス</option>
              <option value="トンキニーズ">トンキニーズ</option>
              <option value="ノルウェージャンフォレストキャット">ノルウェージャンフォレストキャット</option>
              <option value="バーマン">バーマン</option>
              <option value="バーミーズ">バーミーズ</option>
              <option value="ハバナ">ハバナ</option>
              <option value="バリニーズ">バリニーズ</option>
              <option value="ピクシーボブ">ピクシーボブ</option>
              <option value="ヒマラヤン">ヒマラヤン</option>
              <option value="ブリティッシュショートヘア">ブリティッシュショートヘア</option>
              <option value="ペルシャ">ペルシャ</option>
              <option value="ベンガル">ベンガル</option>
              <option value="ボンベイ">ボンベイ</option>
              <option value="マンクス">マンクス</option>
              <option value="マンチカン">マンチカン</option>
              <option value="メインクーン">メインクーン</option>
              <option value="ミックス">ミックス</option>
            </select>
          </div>
<br/>
          <p>猫ちゃんの年齢を入れてくださいね</p>
          <div class="select_join">
            <select name = "year">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
            </select>
          </div>

        </div>
          <p>才</p>
        </div>

          <div class="select_join">
            <select name = "month">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <p>ヶ月</p>



          <input class="buttonSEND" type="submit" value="SENT">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>