/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */



/*body {
  font-size: 14px;
  background: #EECDA3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EECDA3 , #EF629F);  Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to left, #EECDA3 , #EF629F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
}*/


h1,h2,h3,h4,h5,h6,p {
  padding: 0px 0;
  margin: 0;
}




.btn-pagetop.btn--show {
    pointer-events: auto;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-pagetop {
    pointer-events: none;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 70;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}





.content_post{
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  float: left;
}

.content_image {
  height: 300px;
  width: 300px;
}

.text_post{
  padding: 5px 0 0 0;
}

.text_post p{
  text-align: left;
  color: black;
}

.user_name{
  position:absolute;
  right: 5px;
  bottom:20px
}



input {
  width: 500px;
  height: 60px;
  margin-bottom: 50px;
  color: black;
  font-size: larger;
  opacity: 0.9;
}

textarea {
  width: 500px;
  border:solid 3px #EEA34A;
  margin-bottom: 50px;
  color: black;
}


.select_join {

  margin: auto;
  width: 170px;
  height: 28px;
  overflow: hidden;
  background: url('http://s24.postimg.org/lyhytocf5/dropdown.png') no-repeat right #FEFEFE;
  border: #FEFEFE 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
  box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.select_join select {
  background: transparent;
  width: 170px;
  font-size:7pt;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 28px;
  -webkit-appearance: none;
}
.select_join select:focus {
  outline: none;
}

#log {
  height: 1680px;
  padding-top: 150px;
}



p {
color: white;
text-align: center;
}



.field label {
  opacity: 0.7;
}

#user_remember_me {
  position      : relative;
  display       : inline-block;
  width         : 15px;
  height        : 15px;
  border        : 1px solid #black;
  border-radius : 100%;
  overflow      : hidden;
  cursor        : pointer;
}

.actions {
  font-size: 20px;
  opacity: 0.7;
  font-weight: bold;
}


.action {
  font-size: 20px;
  opacity: 0.7;
  font-weight: bold;
}


.catLogo{

  width:100px;


}

.blueBackground{
  background-color: #18bc9c;
  text-align:center;

}

.newContent{
  /*padding-top: 200px;*/
  width: 100%;
  height:100%;
  overflow-x: hidden;
}

.buttonSEND{
  font-weight: bold;
  font-size: 25px;
  color:white;
}

.contentTitle{
  font-size: 1.75em;
  font-weight: 300;
  color:white;
  padding-bottom: 20px;
}

.searchText {
  color: white;
}

.btn_search {
    background: url(glyphicons-28-search.png);
    padding-left: 27px;
    padding-top: 16px;
    padding-right: 19px;
    padding-bottom: 31px;
    speak: none;
    height: 45px;
    border: none;
    margin-bottom: 30px;
}

.btnSave {
  color:white;
  font-size: 28px;
}

.success {
  padding-top: 50px;
}

.cat_twitter {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    margin: 5px;
    background: skyblue;
    width: 100%;
}

.catTwitterimage {
  width: 100%;
}

.pagination {
  width: 100%;
  text-align: center;
}

.userAvatarimage {
  width: 20%;
}