body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}


/*ヘッダーのボタン
*/

.header_bar {
  text-align: right;
  padding-top: 15px;
  padding-right: 50px;
  height: 45px;
  background-color: pink;
}

a.post {

  text-decoration: none;
  font-size: 17px;
  border: 3px solid #ff0000;
  background-color: #fff;
  color: white;
  border-radius: 5px;
  padding: 10px;
}


/*.diary {
  height: 300px;
  background-color: #BFBED5;
}*/

.diary {
  background-color: #B68E52;
  height: 310px;
  background-image: url(cat1.png);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  padding: 50px;
  padding-left: 150px;
  font-family: "游ゴシック", "YuGothic";
  font-size: 30px;
  color: white;
}

/*h2 {
  padding-left: 150px;
  font-family: impact;
  font-size: 500% ;
  color: white;
}*/

h2 {
  text-align: center;
  font-family: impact;
  font-size: 400% ;
  color: #EEA34A;
}


.contents {
  background-color: grey;
}

.left_content {
  height: 600px;
  background-color: #E0DCDD;
}

.content_post {
  height: 250px;
  width: 250px;
  margin: 10px;
  float: left;
}

.formcontents{
  padding: 100px 270px;
  background-color: #E0DCDD;
}

input {
   height: 50px;
   width: 700px;
   border:solid 3px #EEA34A;
   margin-bottom: 50px;
}

textarea {
  height: 500px;
  width: 700px;
  border:solid 3px #EEA34A;
}

/*.right_content {
  height: 600px;
  width: 300px;
  background-color: lightpink;
  float: left;
}*/


footer {
  height: 50px;
  background-color: pink;
}

p {
color: white;
text-align: center;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}



/*削除画面のCSS*/
.success {
  text-align: center;
}

/*サインアップ*/
.field {
  padding:0px 270px 0px 270px;
}

.actions {
  padding: 0px 270px;
}
