.more {
      cursor: pointer;
      top: 20px;
      right: 20px;
      z-index: 2;
      height: 100px;
      width: 80px;
      text-align: right;
      &:hover ul.more_list {
        display: block;
      }
      ul.more_list {
        text-align: left;
        width: 80px;
        right: 0;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        list-style: none;
        li {
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          a {
            text-decoration: none;
            color:#1D4D9F;
            display: block;
            padding: 5px;
            &:hover {
              background-color: #fff;
              color: #8CABD9;
            }
          }
        }
      }
    }